<div class="modal-header">
  <h1 class="modal-title fs-5" id="editModalLabel">
    Edit {{ position.ticker }} position
  </h1>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  <form #editForm="ngForm" (ngSubmit)="updatePosition(editForm)">
    <div class="mb-3">
      <label for="position" class="col-form-label">Position Size:</label>
      <input
        type="text"
        [ngModel]="position.position"
        name="position"
        class="form-control"
        id="position"
      />
    </div>
    <div class="mb-3">
      <label for="unrealizedPnL" class="col-form-label">Unrealized PnL:</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="position.unrealizedPnL"
        name="unrealizedPnL"
        id="unrealizedPnL"
      />
    </div>
    <div class="mb-3">
      <label for="realizedPnL" class="col-form-label">Realized PnL:</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="position.realizedPnL"
        name="realizedPnL"
        id="realizedPnL"
      />
    </div>
    <div id="note-text">
      <p>
        <i
          >Note: You can update only position size, Unrealized PnL or Realized
          PnL. Other values will be passed as is.</i
        >
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.dismiss('Close')"
      >
        Close
      </button>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="activeModal.close()"
      >
        Update
      </button>
    </div>
  </form>
</div>
