<div id="refresh-positions">
  <button
    id="refresh-btn"
    class="btn btn-success"
    type="button"
    (click)="refreshModal()"
  >
    Refresh Table
  </button>
</div>
<h3 id="position-title">Positions Table</h3>
<p id="position-subtitle">
  Includes all of the positons from your portfolio that you've recently took
</p>
<div id="search-form">
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
      (ngModelChange)="searchPositions(key.value)"
      #key="ngModel"
      ngModel
      name="key"
      placeholder="Search positions..."
      aria-label="Search"
    />
  </form>
</div>
<div id="main-container">
  <table
    class="table table-dark table-stripped-columns table-bordered table-hover"
    id="positions-table"
  >
    <thead>
      <tr>
        <th scope="col">Contract Id</th>
        <th scope="col">Ticker</th>
        <th scope="col">Entry date</th>
        <th scope="col">Position Size</th>
        <th scope="col">Unrealized PnL</th>
        <th scope="col">Realized PnL</th>
        <th scope="col">Average Cost</th>
        <th scope="col">Last Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.contractId }}</td>
        <td>{{ position.ticker }}</td>
        <td>{{ position.date }}</td>
        <td>{{ position.position }}</td>
        <td>{{ position.unrealizedPnL }}</td>
        <td>{{ position.realizedPnL }}</td>
        <td>{{ position.averageCost }}</td>
        <td>{{ position.lastMarketPrice }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            (click)="onOpenModal(position, 'edit')"
          >
            Edit
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            (click)="onOpenModal(position, 'delete')"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
