<div class="modal-header">
  <h1 class="modal-title fs-5" id="deleteModalLabel">
    Delete {{ position?.ticker }} position
  </h1>
  <button
    type="button"
    class="btn-close"
    (click)="activeModal.close()"
  ></button>
</div>
<div class="modal-body">
  Do you really want to delete <b>{{ position?.ticker }}</b> from your
  portfolio?
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss('Close')"
  >
    Close
  </button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close()">
    Delete {{ position?.ticker }}
  </button>
</div>
