#main-container {
  margin: 0 10px;
  width: auto;
  display: block;
}
table {
  text-align: center;
  opacity: 0.93;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
}

#position-title,
#position-subtitle {
  text-align: center;
  color: #fff;
  padding: 10px;
}
#position-subtitle {
  padding: 0;
  font-style: italic;
}

#search-form {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#refresh-positions {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#refresh-positions-time {
  color: #fff;
}

#portfolio-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  border: 1px solid gray;
  margin: 10px;
}
#tickers-list {
  color: aliceblue;
}

#ticker {
  padding: 5px;
  color: aliceblue;
  text-decoration: none;
}
#ticker:hover {
  background-color: grey;
}

#helper-tickers-text {
  color: aliceblue;
  padding-left: 10px;
  font-style: italic;
}

#tickers-title {
  font-style: normal;
  font-size: larger;
}

#chart {
  border: 3px solid gray;
}
