<div id="refresh-positions">
  <div id="refresh-positions-btn">
    <button
      id="refresh-btn"
      class="btn btn-success"
      type="button"
      (click)="refreshModal()"
    >
      Refresh Table
    </button>
  </div>

  <div id="refresh-positions-time">
    <p id="lastUpdate">Last update was on: {{ updateOn }}</p>
  </div>
</div>

<h3 id="position-title">Opened Positions</h3>
<p id="position-subtitle">
  Shows all opened positons from your current portfolio
</p>
<div id="search-form">
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      type="search"
      (ngModelChange)="searchPositions(key.value)"
      #key="ngModel"
      ngModel
      name="key"
      placeholder="Search positions..."
      aria-label="Search"
    />
  </form>
</div>
<div id="main-container">
  <table
    class="table table-dark table-stripped-columns table-bordered table-hover"
    id="positions-table"
  >
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Entry date</th>
        <th scope="col">Position Size</th>
        <th scope="col">Unrealized PnL</th>
        <th scope="col">Realized PnL</th>
        <th scope="col">Average Cost</th>
        <th scope="col">Last Price</th>
        <th scope="col">Close Part/Full?</th>
        <th scope="col">Increase Size?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.ticker }}</td>
        <td>{{ position.date }}</td>
        <td>{{ position.position }}</td>
        <td>{{ position.unrealizedPnL }}</td>
        <td>{{ position.realizedPnL }}</td>
        <td>{{ position.averageCost }}</td>
        <td>{{ position.lastMarketPrice }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            (click)="onOpenModal(position, 'close')"
          >
            Close Position
          </button>
        </td>
        <td *ngIf="position.position > 0">
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            (click)="onOpenModal(position, 'add')"
          >
            Add To Position
          </button>
        </td>
        <td *ngIf="position.position < 0">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            (click)="onOpenModal(position, 'add')"
          >
            Sell
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
