<div id="dashboard-container">
  <div id="header-text">
    <span><i>Click on the button below to upload .CSV report</i></span>
  </div>

  <div id="update-date" style="text-align: right; padding-right: 10px">
    <span>Last Report Update: <i>2023-11-29</i></span>
  </div>
  <!-- <div *ngIf="isUploaded" id="upload-file-div"> -->
  <div id="upload-file-div">
    <input
      #fileImportInput
      [accept]="'.csv'"
      type="file"
      id="file-input"
      (change)="importDataFromCSV($event)"
      hidden="true"
    />
    <button class="btn btn-primary" (click)="fileImportInput.click()">
      Download Report
    </button>
  </div>

  <div class="charts-container">
    <div id="hist-perf-bench">
      <app-hist-perf-bench-comp></app-hist-perf-bench-comp>
    </div>
    <div id="key-stats">
      <app-key-stats></app-key-stats>
    </div>
    <br />
    <div id="risk-measures-bench">
      <app-risk-measures-bench></app-risk-measures-bench>
    </div>
    <br />
    <div id="concentration-holdings">
      <app-concentration></app-concentration>
    </div>
    <div id="allocation-by-region"><app-region></app-region></div>
    <br />
  </div>
  <div id="performance-by-sector">
    <app-performance-by-sector></app-performance-by-sector>
  </div>
  <div id="time-period-bench-comp">
    <app-time-period-bench-comp></app-time-period-bench-comp>
  </div>
  <div id="allocation-asset-class">
    <app-asset-class></app-asset-class>
  </div>
</div>
